
<h3>Eventos</h3>
<hr>
<div class="form-inline" >
  <div class="form-group d-flex mb-2" >
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control w-25" 
    placeholder="buscar" 
    style="margin-right: 4px;"
    [(ngModel)]="filtroLista"
    >
    </div>
</div>
<!--<h4>Filtro:{{filtroLista}}</h4> -->
<table class="table table-striped">
  <thead class="table-dark">
     
    <tr> 
        <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
          {{exibirImagem1 ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th><b>Nome:</b></th>
      <th><b>Local:</b></th>
      <th><b>DataEvento:</b></th>
      <th><b>Tema:</b></th>
      <th><b>Pessoas:</b></th>
      <th><b>Lote:</b></th>
      <th><b>Imagem:</b></th>
      <th colspan="2">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
           <td>
        <img [collapse]="exibirImagem1"
             [isAnimated]="true"
          src="\assets\images\{{evento.imagemURL}}"
         [ngStyle]="{'width': '120px', 'height': '80px'}"
         
        >
      </td>
        <td> {{evento.eventoId}}</td>
      <td>{{evento.nome}}</td>
      <td> {{evento.local}}</td>
      <td>{{evento.dataEvento  | date:'dd/MM/yyyy - HH:mm' }}</td>
       <td> {{evento.tema}}</td>
        <td> {{evento.qtdPessoas}}</td>
         <td> {{evento.lote}}</td>
       
      <td align="right"><button type="button" class="btn btn-primary btn-sm">Editar</button></td>
      <td align="left"><button type="button" class="btn btn-secondary btn-sm">Excluir</button></td>
    </tr>
  </tbody>

  <tfoot *ngIf="!eventos.length" >
        <tr><td><h5>Nenhum Registro encontrado</h5></td></tr>
  </tfoot>
</table>

<hr />



<div class="form-group d-flex mb-3" >
  <button class="btn btn-outline-dark btn-sm" 
  (click)="ChangeImage()">
  {{ exibirImagem2 ? 'Exibir IMG' : 'Ocultar IMG' }}</button>
</div>
<div  class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" *ngFor="let eventos of eventosFiltrados">
      <div class="card h-100" style=" border:1px solid black">
        
        <!-- Verifica se a URL da imagem está disponível e a exibe -->
        <div *ngIf="eventos.imagemURL">
          <img src="/assets/images/{{eventos.imagemURL}}" 
          class="card-img-top" alt="Imagem do Post" 
          style="width: 100%; height: 250px; border:1px solid black"
          [collapse]="exibirImagem2"
          [isAnimated]="true">
    
        </div>
 
        <div class="card-body">
          
        <h5 class="card-title"><b>{{eventos.nome}}</b></h5> 
         <p class="card-text">EventoID:{{eventos.eventoId}}</p>
          <p class="card-text">Local: {{eventos.local}}</p>
           <p class="card-text">Pessoas: {{eventos.qtdPessoas}}</p>
         <p class="card-text">Lote: {{eventos.lote}}</p>
         <b>Data e Horario: </b>
                <small class="text-body-secondary"> <b>{{eventos.dataEvento  | date:'dd/MM/yyyy - HH:mm:ss' }}</b></small>
           
        </div>
       
        <div class="card-footer">
          <div class="botaoCard">
             <button type="button" class="btn btn-primary ">Inscrever</button>
        
          </div>
       
        </div>

      </div>
    </div>
  </div>
